<div class="text-center text-sm text-gray-700">
  <a href="https://avohq.io/" target="_blank" data-foo="yup">Avo</a> <span title="<%= Avo.license.id %>">v<%= Avo::VERSION %></span> · Rails <%= Rails.version %> · &copy; <%= Date.today.year %> AvoHQ · Current account ID: <%= Current.account&.id %>

  <!-- test deploy -->
</div>
