<div class="text-center text-sm text-content-secondary <%= 'print:hidden' if Avo.configuration.hide_layout_when_printing %>">
  <a href="https://avohq.io/" target="_blank" data-foo="yup">Avo</a> <span>v<%= Avo::VERSION %></span> · Rails <%= Rails.version %> · &copy; <%= Date.today.year %> AvoHQ · Current account ID: <%= Current.account&.id %>
</div>
